<!--  HTML for Add Staff Member Page (Staff-Specific) -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

<h1>{% block title %} Add a Staff Member {% endblock %}</h1>

<form method="POST">
    
    <div class="w3-section">
        <label for="email">Email</label>
        <input class="w3-input w3-border" type="text" name="email" required>
    </div>

    <div class="w3-section">
        <label for="firstName">First Name</label>
        <input class="w3-input w3-border" type="text" name="firstName" required>
    </div>

    <div class="w3-section">
        <label for="lastName">Last Name</label>
        <input class="w3-input w3-border" type="text" name="lastName" required>
    </div>

    <div class="w3-section">
        <label for="password">Password</label>
        <input class="w3-input w3-border" type="password" name="password" required>
    </div>

    <div class="w3-section">
        <label for="confPass">Confirm Password</label>
        <input class="w3-input w3-border" type="password" name="confPass" required>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

    <!-- Flashed messages for errors -->
    <div class="w3-container" style="margin-top:5px">
        {% for message in get_flashed_messages() %}
        <h1 class="w3-medium w3-text-red"><div class="alert alert-danger">{{ message }}</div></h1>
        {% endfor %}
    </div>
</form>
</div>
{% endblock %}