<!--  HTML for Badges Page (Student Specific)  -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

<h1>{% block title %} Badges {% endblock %}</h1>
   
    <!--displays trophy.png for completed events-->
    {% for event in completedEvents %}
    <div class="w3-quarter">
        <center>
            <span><img src="{{ url_for('static', filename='trophy.png') }}" style="width:90%"></span>
        </center>
        <center><h2>{{ event['title'] }}</h2></center>
    </div>
    {% endfor %}
    
    <!--displays mutedTrophy.png for incomplete events-->
    {% for event in events %}
    <div class="w3-quarter">
        <center>
            <span><img src="{{ url_for('static', filename='trophyMuted.png') }}" style="width:90%"></span>
        </center>
        <center><h2>{{ event['title'] }}</h2></center>
    </div>
    {% endfor %}
    
</div>
{% endblock %}