<!--  HTML for Single Completed Event Page  -->
<!-- Incomplete / Unused -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
    <p>{{ content }}</p>

    <!--Text upload-->
    {% if uploadType == 'text' %}
        <div class="w3-section">
            
        </div>

    <!--Image upload-->
    {% elif uploadType == 'image' %}
        <div class="w3-section">
            
        </div>

    <!--Clickable hyperlinks-->
    {% else %}
        <div class="w3-section">
            
        </div>
        
    {% endif %}
    
</form>
</div>
{% endblock %}
