<!--  HTML for Single Completed Event Page  -->
<!-- Incomplete / Unused -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1>{% block title %} {{ event['title'] }} {% endblock %}</h1>

    <!-- Display tasks for current event -->
    <ul>
        {% for task in event['tasks'] %}
        <li>{{ task['description'] }}</li>
            {% if task['uploadType'] == 'image' %}
            <!-- Convert blob data to base64 and display as image -->
                <p> <img src="data:image/jpeg;base64,{{ task['response'] | b64encode }}" alt="Image Response"></p>
            {% else %}
                <p> {{ task['response'] }} </p> <!--Need to edit this if we figure out links-->
            {% endif %}
        {% endfor %}

</div>

<!--Flashed messaged for errors-->
<div class="w3-container" style="margin-top:5px">
    {% for message in get_flashed_messages() %}
    <h1 class="w3-medium w3-text-red"><div class="alert alert-danger">{{ message }}</div></h1>
    {% endfor %}
</div>

{% endblock %}
