<!--  HTML for Event Creation Page (Staff Specific Form)-->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<h1>{% block title %} Create a New Event {% endblock %}</h1>

<form method="post" enctype="multipart/form-data">

    <div class="w3-section">
        <label for="inputFile">Image</label>
        <input class="form-control-file" type="file" name="imageFile">
    </div>

    <div class="w3-section">
        <label for="title">Title</label>
        <input class="w3-input w3-border" type="text" name="title" value="{{ request.form['title'] }}" required>
    </input>
    </div>

    <div class="w3-section">
        <label for="content">Content</label>
        <textarea class="w3-input w3-border" type="text" name="content" value="{{ request.form['content'] }}" required>
    </textarea>
    </div>

    <label for="uploadType">Upload Type:</label>
    <select name="uploadType" id="uploadType">
      <option value="text">Text</option>
      <option value="image">Image</option>
      <option value="link">Link</option>
    </select> 

    <!-- Button that adds another Content section and Upload Type -->
    <!--<div class="form-group">
        <button type="submit" class="btn btn-primary">Add Section</button>
    </div>-->

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
{% endblock %}