<!--  HTML for Edit Event Page (Staff Specific Form)  -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<h1>{% block title %} Edit "{{ event['title'] }}" {% endblock %}</h1>

<form method="post">

    <div class="w3-section">
        <label for="title">Title</label>
        <input class="w3-input w3-border" type="text" name="title" value="{{ request.form['title'] or event['title'] }}" placeholder="Event title" required>
    </input>
    </div>

    <div class="w3-section">
        <label for="content">Content</label>
        <textarea type="text" name="content" placeholder="Event content" required class="w3-input w3-border">{{ request.form['content'] or event['content'] }}
    </textarea>
    </div>

    <label for="uploadType">Upload Type:</label>
    <select name="uploadType" id="uploadType">
      <option value="text">Text</option>
      <option value="image">Image</option>
      <option value="link">Link</option>
    </select> 

    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=event['id']) }}" method="POST">
    <input type="submit" value="Delete Event"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this event?')">

<!--Flashed messaged for errors-->
<div class="w3-container" style="margin-top:5px">
    {% for message in get_flashed_messages() %}
    <h1 class="w3-medium w3-text-red"><div class="alert alert-danger">{{ message }}</div></h1>
    {% endfor %}
</div>

</form>
</div>
{% endblock %}