<!--  HTML for Single Event Page (Student Specific Form)  -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1>{% block title %} {{ event['title'] }} {% endblock %}</h1>
    <p>{{ event['content'] }}</p>

<form method="post">

    <!--Text upload-->
    {% if uploadType == 'text' %}
        <div class="w3-section">
            <textarea name="text" placeholder="Add text"
             class="w3-input w3-border" >{{ request.form['text'] }}</textarea>
        </div>

    <!--Image upload-->    
    {% elif uploadType == 'image' %}
        <div class="w3-section">
            <label for="inputFile">Image:</label>
            <input class="form-control-file" type="file" name="imageFile">
        </div>

    <!--"Text editor" for hyperlinks-->
    {% else %}
        <div class="w3-section">
            <textarea name="link" placeholder="Paste link here"
             class="w3-input w3-border" >{{ request.form['link'] }}</textarea>
      </div>
      
    {% endif %}
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
{% endblock %}
