<!-- HTML for an Event Page -->

{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1>{% block title %} {{ event['title'] }} {% endblock %}</h1>

    <!-- Display tasks for current event -->
    <ul>
        {% for task in event['tasks'] %}
        <li>{{ task['description'] }}</li>
            {% if responses and task['task_id'] in responses and responses[task['task_id']] %}
                {% if task['uploadType'] == 'image' %}
                <!-- Convert blob data to base64 and display as image -->
                <p> <img src="data:image/jpeg;base64,{{ responses[task['task_id']] | b64encode }}" alt="Image Response"></p>
                {% else %}
                    <p> {{ responses[task['task_id']] }} </p> <!-- Display text response -->
                {% endif %}
            {% else %}
                <!-- Task completion form -->
                <form method="post" enctype="multipart/form-data">
                    {% if task['uploadType'] == 'text' %}
                        <div class="w3-section">
                            <textarea name="text_{{ task['task_id'] }}" placeholder="Add text" class="w3-input w3-border"></textarea>
                        </div>
                    {% elif task['uploadType'] == 'image' %}
                        <div class="w3-section">
                            <input class="form-control-file" type="file" name="imageFile_{{ task['task_id'] }}">
                        </div>
                    {% else %}
                        <div class="w3-section">
                            <input type="text" name="link_{{ task['task_id'] }}" placeholder="Paste link" class="w3-input w3-border">
                        </div>
                    {% endif %}
                    <div style="text-align: right;">
                        <button type="submit" class="btn btn-success" name="action" value="completeTask">Complete Task</button>
                    </div>                    
                </form>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Button to complete event - move to completed events table -->
    <form method="post">
        <div style="position: fixed; bottom: 20px; right: 20px;">
            <button type="submit" class="btn btn-primary" name="action" value="completeEvent">Complete Experience</button>
        </div>
    </form>

    <!-- Flashed messages for errors -->
    <div class="w3-container" style="margin-top:5px">
        {% for message in get_flashed_messages() %}
        <h1 class="w3-medium w3-text-red"><div class="alert alert-danger">{{ message }}</div></h1>
        {% endfor %}
    </div>
    
</div>

{% endblock %}
